:root,
[data-bs-theme=light] {
    --bs-body-bg1: #fff;
    --bs-body-bg2: #f2f2f2;
    --bs-body-bg3: #fff0;
    --bs-body-bg4: #809494;
    --bs-body-bg5: #809494;
    --bs-body-bg6: #6e8181;
    --bs-dark-text-emphasis1: #000;
    --bs-dark-text-emphasis: #000;
    --bs-body-counter: #f5f5f5;
    --bs-text-counter: #333;
    --bs-text-head: #462f6a;
    --theme-color: #ff0100;
    --bs-text-emphasis: #000;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-bg: #fff;
    --bs-body-bg1: #fff;
    --bs-body-bg2: #2b2b2b;
    --bs-body-bg3: #2b2b2b;
    --bs-body-bg4: #2b2b2b;
    --bs-body-bg5: #809494;
    --bs-body-bg6: #fff;
    --bs-dark-text-emphasis1: #fff;
    --bs-dark-text-emphasis: #000;
    --bs-body-counter: #3d3d3d;
    --bs-text-counter: #f5f5f5;
    --bs-text-head: #9f81df;
    --bs-text-but: #494949;
    --theme-color: #ff0100;
    --bs-text-emphasis: #000;
}

@media screen and (max-width: 1099px) {
    .book_stay {
        display: block;
        padding: 0 55px 0 0;
        line-height: 60px;
    }
}

.book_stay {
    display: none;
}
.book_stay {
    float: right;
    padding: 0 50px 0 0;
    bottom: 0;
    margin: 0;
    line-height: 80px;
}
@media screen and (max-width: 1099px) {
    .book_stay li:nth-last-child(1) {
        display: block;
    }
    .book_stay .btn_moredetails {
        margin: 0;
    }
}

.book_stay li:nth-last-child(1) {
    display: none;
}
.book_stay li {
    list-style: none;
}
.btn_book img {
    height: 20px !important;
    transform: none !important;
    filter: brightness(0) invert(1);
}

.btn_moredetails img {
    height: 15px !important;
    width: auto !important;
    filter: brightness(0) invert(1);
    transform: rotate(320deg);
    vertical-align: text-top;
    transition: all 0.25s;
}













.navbar-brand1{
    display: none;
}
.scrolled .navbar-brand1{
    display: inline;
}
.scrolled .navbar-brand{
    display: none;
}
.topbar-one {
    position: absolute;
    background-color: #ee270500;
    z-index: 99999;
    border-bottom: 1px solid #ffffff29;
    width: 100%;
}


.topbar-one__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
}

.topbar-one__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 157px);
    padding-right: 0px;
}

.topbar-one__info {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.topbar-one__info-item {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.topbar-one__info-icon {
    font-size: 12px;
    color: var(--trevlo-base, #ffffff);
    position: relative;
    top: 0;
    margin-right: 3px;
}

.topbar-one__info-text {
    font-family: var(--trevlo-font, "DM Sans", sans-serif);
    font-size: var(--trevlo-size-xl, 14px);
    color: var(--trevlo-gray, #fff);
    font-weight: 500;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .topbar-one__right {
        margin-top: 0;
        margin-left: auto;
    }
}
.header-info-right ul {
    margin-top: 0;
    padding: 5px 0;
    margin-bottom: 0rem;
}

.header-info-right .header-social li {
    display: inline-block;
}

.header-info-right .header-social li a {
    color: #fff;
    font-size: 13px;
    padding-left: 0px;
}

.header__top__right__language {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.header__top__right__language div {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 4px;
}

.header__top__right__language img {
    margin-right: 6px;
}

.header__top__right__language i {
    font-size: 6px;
    color: #fff;
    position: relative;
    top: -2px;
}

.header__top__right__language:hover ul {
    top: 32px;
    opacity: 1;
    margin-left: 20px;
    visibility: visible;
}

.header__top__right__language ul {
    background: #fff;
    width: 83px;
    text-align: left;
    margin-left: 20px;
    padding: 0px 0;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 9999;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: all, .3s;
    -moz-transition: all, .1s;
    -ms-transition: all, .3s;
    -o-transition: all, .3s;
    transition: all, .2s;
}
.ber-menu ul, li {
    padding: 0;
    margin: 0;
}
.header__top__right__language ul li {
    dist-style: none;
    padding: 3px 8px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ffffff1f;
}

.header__top__right__language ul li a {
    color: #000 !important;
    text-align: center;
    -webkit-transition: all, .1s;
    -moz-transition: all, .1s;
    -ms-transition: all, .1s;
    -o-transition: all, .1s;
    transition: all, .0s;
}


.main-header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar-one__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 197px;
}

.topbar-one__social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 3.5px 0;
    padding-left: 30px;
    margin-left: 30px;
    line-height: 1em;
}

.topbar-one__social-link {
    font-size: 14px;
    color: var(--trevlo-white, #ffffff);
    transition: all 500ms ease;
    padding-right: 15px;
}

.topbar-one::after {
    content: "";
    width: calc(100% - 485px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0;
}

.main-header__booking-btn {
    padding: 14px 29px;
    font-size: 12px;
    color: var(--trevlo-secondary, #736D75);
    text-transform: capitalize;
    background-color: var(--trevlo-white2, #FAF5EE);
}

.trevlo-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background-color: var(--trevlo-base, #fb6183);
    color: var(--trevlo-white, #ffffff);
    font-size: var(--trevlo-size-2xl, 16px);
    line-height: 1;
    transition: 500ms;
    text-transform: capitalize;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.main-header__right-right {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.main-header__phone {
    display: flex;
    align-items: center;
}

.main-header__phone-icon,
.main-header {
    background-color: var(--trevlo-primary, #ffffff);
}

.main-header__phone-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--trevlo-white, #ffffff);
    margin-right: 18px;
    z-index: 1;
}

.main-header__phone-icon span {
    font-size: 20px;
    color: var(--trevlo-base, #fb6183);
    transition: all 0.3s ease-in-out;
}

.main-header__phone-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--trevlo-primary, #2D2330);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: transform 300ms ease, opacity 300ms ease;
}

.main-header__phone-title {
    font-size: var(--trevlo-size-lg, 13px);
    line-height: 1;
    font-weight: 400;
    color: var(--trevlo-white, #ffffff);
    margin-bottom: 5px;
}

.main-header__phone-number {
    font-size: var(--trevlo-size-3xl, 15px);
    line-height: 1;
    color: var(--trevlo-white, #ffffff);
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}

.main-header__phone-number a {
    font-size: var(--trevlo-size-3xl, 15px);
    color: var(--trevlo-white, #fb6183);
}


.offcanvas {
    max-width: 80%;
}

#navbar {
    background-color: #fff0;
    position: fixed;
    width: 100%;
    top: 0;
        margin-top: 40px;
    /* overflow: hidden; */
    z-index: 99;
    transition: all 0.25s;
}
.navbar-toggler {
    color: var(--bs-dark-text-emphasis);
}
.navbar-brand1{
    display: none;
}
.scrolled .navbar-brand1{
    display: inline;
}
.scrolled .navbar-brand{
    display: none;
}
/* Style the navbar links */
#navbar a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}
.scrolled .navbar a {
    color: #000 !important;
    text-decoration: none;
}

.scrolled {
    margin-top: 0px !important;
    background-color: #fffffff5 !important;
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    /* สีเมื่อเลื่อนลง */
}

@media (max-width: 576px) {
    .dropdown-item::after {
        transform: rotate(90deg) !important;
    }
}

.dropdown .dropdown-menu .set-menu li {
    padding: 0 !important;
}

.header-top {
    position: relative;
    z-index: 1;
    padding: 0 315px 0 0;
    background-color: #73b35a;
}

.header-contact li a i {
    color: #73b35a;
}

.navbar-brand img {
    width: 85%;
}

.header-top__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 11px 0 11px 215px;
}

.header-top__left::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
}

.header-contact {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-contact li {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.header-contact li a {
    color: #fff;
    margin-right: 15px;
    font-size: x-small;
}

.header-social a i {
    color: #73b35a;
    margin-right: 8px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color) !important;
    text-decoration: none;
    background-color: #73b35a !important;
}

.header-layout4 .header-social a {}

.header-social a {
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 15px;
    font-size: x-small;
}

.header-links>ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    gap: 35px;
}

.header-links>ul>li>a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}



.navbar-toggler {
    color: var(--bs-dark-text-emphasis);
}


.navbar-nav .dropdown-menu {
    position: static;
    background-color: var(--bs-body-bg5);
    border: none;
    margin-top: 40px;
    padding: 0;
}

.navbar-nav .dropdown-menu li {
    padding: 0;
}

.navbar-nav .dropdown-menu a {
    color: var(--bs-text-but) !important;
    font-weight: 200;
    font-size: 15px;
    padding: 5px 20px;
    border-bottom: 1px solid #ffffff21;
}

.navbar-nav .dropdown-menu a:hover {
    color: var(--bs-text-but) !important;
    background-color: var(--bs-body-bg6) !important;
}

#navbar a:hover {
    color: #f62b0a;
}

.navbar-nav li {
    padding: 0 8px;
}

.main-header .menu-right-content {
    position: relative;
    display: flex;
    align-items: center;
}

.main-header .menu-right-content .support-box {
    position: relative;
    display: block;
    padding: 10px;
    margin-right: 30px;
}

.main-header .menu-right-content .support-box .icon {
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 56px;
    line-height: 62px;
    text-align: center;
    background: #809494;
    font-size: 30px;
    border-radius: 50%;
}

.main-header .menu-right-content .support-box .icon svg {
    color: #fff;
    margin-top: -10px;
}

.main-header .menu-right-content .support-box span {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2px;
    color: #809494;
}

.main-header .menu-right-content .support-box h6 {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.main-header .menu-right-content .btn-box {
    position: relative;
    width: 150px;
}

.main-header .menu-right-content .btn-box a {
    position: relative;
    display: inline-block;
    font-size: 25px;
    height: 38px;
    line-height: 37px;
    color: #fff;
    font-weight: 700;
    /* padding: 16px 30px; */
    width: 150px;
    border-radius: 0px;
    text-transform: uppercase;
}

.main-header .menu-right-content .btn-box a {
    color: #fff !important;
    background: #ff2905;
}






.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}