@charset "utf-8";

.room-section {
    padding: 0 0 4rem;
    background-size: cover;

}

.con-section {
    padding: 4rem 0;
    background-size: cover;

}

.lix-section {
    padding: 7rem 0;
    background-image: linear-gradient(#050a35c2, rgb(31 32 37 / 81%)), url(../img/bg_05.jpg);
    background-size: cover;

}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px !important;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 280px) and (max-width: 567px) {}

@media only screen and (min-width: 375px) and (max-width: 666px) {}

@media only screen and (min-width: 414px) and (max-width: 735px) {}

@media only screen and (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {}

@media only screen and (min-width: 1366px) {
    .fluid{
        width: 95%;
    }
}



.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

@media only screen and (max-width: 1600px) {}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    #navbar {
    background-color: #00000066;
    margin-top: 0;
}
.page-title {
    min-height: 350px;
}
.section_description {

    height: auto;
    /* background-attachment: fixed; */
}
section.room-section {
    position: relative;
    padding: 2rem 0 !important;
}
.content-block1 {
    margin-top: 30px;
}
    section.service-section .image-block {
    padding-right: 0px;
    position: relative;
    z-index: 1;
}
#navbar a {
    color: #000000;
    text-decoration: none;
}
section.service-section-two .content-block:before {
    position: absolute;
    content: '';
    right: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #f1f3f6;
}
}
@media only screen and (max-width: 991px) {
    section.about-us-section .content-block .award {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 30px;
    }
}
/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
    .owl-nav .owl-prev {
        left: 25px !important;
    }

    .owl-nav .owl-next {
        right: 25px !important;
    }

    .owl-nav>div {
        margin-top: -26px;
        position: absolute;
        top: 50%;
        color: #59c4b1;
    }
    .room-section {
    padding: 2rem 0;
    background-size: cover;

}
.room-block h3 {
    font-size: 15px;
}
.hp-room-item {
    height: 400px;
    margin-bottom: 20px;
    margin-right: 0px;
}
.section_tagline{
    margin-bottom: 30px;
}
.page-title .title {
    font-size: 45px;
}
.section_facilities:after {
    width: 100%;
}
.section_accommodation:after {
    width: 100%;
}
.images_accommodation {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.fact--layout1 {
    padding: 2rem 0;
}
section.service-section .content-block {
    position: relative;
    background: #f1f3f6;
    padding: 30px;
    margin-top: 0px;
}
section.service-section {
    padding-top: 40px;
    padding-bottom: 0px;
    position: relative;
}
section.service-section-two .image-block {
    position: relative;
    margin-top: 10px;
    padding-bottom: 50px;
}
section.service-section-two .image-two {
    /* border: 18px solid #f1f3f6; */
    display: none;
}
section.service-section-two .content-block {
    position: relative;
    background: #f1f3f6;
    padding: 30px;
    padding-left: inherit;
}
section.service-section-two .image-block {
    position: relative;
    margin-top: 60px;
    padding-bottom: 0px;
}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {
    .room-section1 {
        height: 100vh !important;
        text-align: center;
    }
.booking-form {
    background: #000000b0;
    width: 100% !important;
}
    .info-section .inner-container {
        padding: 56px 27px;
    }

    .info-section .bg-layer {
        left: 100%;
        width: auto;
        height: 100%;
    }

    .info-section {
        padding: 3rem 0;
    }

    .content_block_one .content-box {
        margin-left: 0px;
    }

    .sec-pad {
        padding: 40px 0px;
    }

    .news-section {
        padding: 40px 0px;
    }

    .sec-title h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .navbar-brand img{
        width: 60%;
    }
    .booking .nav-link {
    padding: 10px;
    font-size: 11px;
}

.hero-text{
    margin-bottom: 30px;
}
.hero-text h1 {
    font-size: 35px !important;
        line-height: 30px !important;
}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {}

#back-to-top {
    position: fixed;
    bottom: 18px;
    right: 26px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 39px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0;
    background: rgb(111, 100, 155);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.5s ease-out 0s;
}

#back-to-top:hover {
    background: rgb(177, 160, 244);
}

#back-to-top.show {
    opacity: 1;
}


/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
    color: #f9f9f9;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
    outline: none;
}


/*************************vdo********************/
.wrapper {
    display: inline-block;
}

.wrapper img {
    width: 100%;
    background-size: cover;
}

.icon-box i {
    font-size: 50px;
}

.video-main {
    position: relative;
    display: inline-block;
}

.video-main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height: 80px;

}

.video {
    height: 50px;
    width: 90px;
    line-height: 75px;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: x-large;
    border: 2px solid #fff0;
    display: inline-block;
    background: #00000005;
    z-index: 999;
}

.video:hover {

    color: #fff;
    background: #fff0;
    font-size: x-large;
    border: 2px solid #fff0;

}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.fa-play:before {
    content: "\f04b";
}

.waves {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #335b2c;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    right: 50px;
    left: 50px;
    margin: auto;
    bottom: 0;
    top: 0;
    z-index: 0;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/*************************vdo********************/